<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Saša Branković</string>
	<key>Builder Version</key>
	<string>9537.75.14</string>
	<key>CFBundleDisplayName</key>
	<string>Searchr</string>
	<key>CFBundleIdentifier</key>
	<string>com.hakeraj.searchr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Provides search of any website using keywords</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/fox/searchr/raw/master/Searchr.plist</string>
	<key>Website</key>
	<string>http://hakeraj.com/searchr</string>
</dict>
</plist>
